<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<p><%= output %></p>

	<% if output == "You got it right!" %>
		<p>The secret number is <%= number %></p>
	<% end %>

	<form>
		<input type="text" name="guess" />
		<input type="submit" value="Guess!" />
	</form>

</body>
</html>
